/*******************************************************************************
by Steeve Laquitaine
*******************************************************************************/

/*@import url(github-light.css);*/

/*html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, slub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family : 'CMS';
  font-size: 18px;
  line-height: 25px;
}*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    border-collapse: collapse;
    font-size:8pt;
    background-color: white;
}
th, td {
    padding: 5px;
    text-align: left;
    background-color: white;
}


/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#000000;
  background-color: white;
  font-size: 18px;
  font-family: 'CMS';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 30px 0;
  color:#000000;
  font-family: 'CMS';
  letter-spacing: 1px;
}

h1 {
  color:#000000;
  font-family: 'CMS';
  letter-spacing: 1px;
  line-height: 1.1;
  font-size: 54px;
  font-weight: 500;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.1;
}

h4 {
  font-size: 21px;
  line-height: 1.1;
}

h5 {
  font-size: 18px;
  line-height: 1.1;
}

h6 {
  font-size: 27px;
  line-height: 1.1;
}

p {
  margin: 20px 0 20px 0;
  text-indent: 50px;
  text-align: justify; 
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #000000;
  font-size : 20px;
  line-height: 1.5;
  /*line-height: 35px;*/
}

/* Color body links */
a.class2 {color:blue;}
/* a:hover, a:focus {text-decoration: underline;} */

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

/*strong {*/
/*  font-weight: bold;*/
/*}*/

img {
  position: relative;
  margin: 0 auto;
  max-width: 790px;
  padding: 5px;
  margin: 10px 0 10px 0;
  /*border: 1px solid #ebebeb;*/

  /*box-shadow: 0 0 5px #ebebeb;*/
/*  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;*/
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

#videoal {
    /* ... put any margin, padding, etc. here you like */
}

#videoal div.video {
    display: inline-block;
    zoom: 1;
    *display: inline;
    width: 200px;
    height: 200px;
    margin: 0 10px 10px 0;
}

#videoal div.video video {
    width: 100%;
    height: 100%;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

/*Code blocks*/
code {
  background-color:#f6f6f6;
  display: block;
  vertical-align: middle; /*center*/
  line-height: 1.5;
  width: 820px;
  padding-top: 2px;  /*add top grey padding*/
  padding-bottom: 2px;
  margin: 0px 0 0px 0px;/*add top & bottom white margin*/
}

.code {
  color: black; 
  font-size: 14px;    
  font-family: consolas;
}

pre {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

th {
  font-family: 'CMS';
  padding: 10px;
  background: white;
  color: black;
 }

td {
  padding: 10px;
  border: 1px solid #080808;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}


/******
Margins
******/
.inner {
  position: relative;
  max-width: 820px;
  padding: 20px 10px;
  margin: 0 auto;
}

/*Banner on top*/
#forkme_banner {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 1px 50px 1px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #080808 no-repeat 95% 50%;
  font-weight: 100;
}


#header_wrap {
  background: #080808;
}

/*Top dark gray band for name and github*/
#header_wrap .inner {
  padding: 30px 10px 30px 10px;
}

proj_title_wrap {
  background: white;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  line-height: 1.5;
}

#proj_title {
  padding-top: 20px;
  font-size : 54px;
  font-family: 'CMS';
  display: block;
  top: 10px;
  /*left: 10px;*/
  z-index: 10;
  /*padding: 10px 50px 10px 10px;*/
  padding: 10px 50px 10px 0px;
  color: black;
  font-weight: 500;
}

/*name of the writer*/
#project_author {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  font-weight: 100;
}

/*table of contents*/
table_of_content_wrap {
  background: white;
  border-top: 1px solid #111;
}

#table_of_content {
  padding-top: 10px;
}

main_content_wrap {
  background: white;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  line-height: 1.5;
}

#main_content {
  padding-top: 20px;
}

#footer_wrap {
  background:#000000;
}*/



